<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>Here are some links to help you start: </h2>

<br/>
value coba dari app-root : {{coba}}
<br/>
<a routerLink="/test" [queryParams]="{balance:3600}">Test</a>
<br/>
<a routerLink="/customer">Create Customer</a>
<!-- <app-test [coba]="title" (cobaOutput)="setCoba($event)"></app-test> -->
<h3>Main Outlet</h3>
<router-outlet></router-outlet>
<br/>
<br/>
<h3>Content Outlet</h3>
<router-outlet name="router1"></router-outlet>